{% extends 'skateboardBlog/base.html' %}





<section class="py-5">
    <div class="container">
        <div class="row text-center">

            <div class="col-sm">
                <div class="card bg-dark text-light mb-3">
                    <div class="h1 mt-3">
                        
                            <div class="card-body text-center mt-3">
                                <h4 class="card-title">Experince</h4>
                                <p class= "card-text" >We have many projects before this website. <br> Here is our last Projects & Experince </p>
                                <a href="https://twitter.com/tuwaiqacademy" class= "btn btn-info">Learn More</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        <div class="row text-center">

            <div class="col-sm">
                <div class="card bg-dark text-light mb-3">
                    <div class="h1 mt-3">
                        
                        <div class="card-body text-center mt-3">
                            <h4 class="card-title">Learning Programming</h4>
                            <p class= "card-text" >Programming is so important. <br> We offer programming courses you can chick it out from here</p>
                            <a href="https://en.wikipedia.org/wiki/Computer_programming" class= "btn btn-info">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="py-5">
    <div class="container">
        <div class="row text-center">

            <div class="col-sm">
                <div class="card bg-dark text-light mb-3">
                    <div class="h1 mt-3">
                        
                        <div class="card-body text-center mt-3">
                                <h4 class="card-title">Contact me</h4>
                                <p class= "card-text" >I'm free For any questions.<br> Working time: from 8am till 4pm </p>
                                <a href="{% url 'skateboardBlog:home' %}" class= "btn btn-info">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




